<div class="mat-container">
  <mat-stepper
    orientation="vertical"
    #stepper
    [linear]="false"
    (selectionChange)="onStepChange($event)"
  >
    <!-- start step 0 -->
    <mat-step label="Select subscription parameters">
      <form class="example-form" [formGroup]="subscriptionForm">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Duration (in months)</mat-label>
          <mat-select formControlName="duration">
            <mat-option *ngFor="let duration of durations" [value]="duration">
              {{ duration }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Amount of gigabytes in a cloud</mat-label>
          <mat-select formControlName="storage">
            <mat-option
              *ngFor="let storageOption of storageOptions"
              [value]="storageOption"
            >
              {{ storageOption }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-checkbox color="primary" formControlName="initialPayment"
            >Upfront payment</mat-checkbox
          >
        </div>
        <div class="btn-footer">
          <button
            matStepperNext
            class="mat-align-end"
            mat-raised-button
            color="primary"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <!-- end start step 0 -->
    <!-- start start step 1 -->

    <mat-step label="Payment data">
      <div>
        <p>Summary of the selected subscription:</p>
        <p>Duration : {{ subscriptionForm.value.duration }}</p>
        <p>
          Amount of gigabytes in a cloud :
          {{ subscriptionForm.value.storage }}
        </p>

        <p>Total price : {{ selectedSubscription.totalPrice }} USD</p>

        <form [formGroup]="paymentForm" class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Credit Card number</mat-label>
            <input
              matInput
              formControlName="creditCardNumber"
              [ngClass]="{
                'is-invalid': submitted && f1['creditCardNumber'].errors
              }"
            />
            <mat-error
              *ngIf="submittedStipe1 && f1['creditCardNumber'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f1['creditCardNumber']['errors']['required']">
                Please enter a valid Credit Card number</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Credit card expiration date</mat-label>
            <input
              matInput
              formControlName="expirationDate"
              [ngClass]="{
                'is-invalid': submittedStipe1 && f1['expirationDate'].errors
              }"
              type="date"
            />
            <mat-error
              *ngIf="submittedStipe1 && f1['expirationDate'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f1['expirationDate']['errors']['required']">
                Please enter a valid Credit card expiration date</span
              >
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Credit card security code</mat-label>
            <input
              matInput
              formControlName="securityCode"
              [ngClass]="{
                'is-invalid': submittedStipe1 && f1['securityCode'].errors
              }"
            />
            <mat-error
              *ngIf="submittedStipe1 && f1['securityCode'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f1['securityCode']['errors']['required']">
                Please enter a valid Credit card security code</span
              >
            </mat-error>
          </mat-form-field>
          <div class="btn-footer">
            <button mat-button matStepperPrevious>Previous</button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="nextStipper(1)"
            >
              Next
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <!-- end start step 1 -->
    <!-- start start step 2 -->

    <mat-step label="Confirmation" [completed]="true">
      <div>
        <p>Summary of the selected subscription:</p>
        <p>Duration : {{ subscriptionForm.value.duration }}</p>
        <p>
          Amount of gigabytes in a cloud :
          {{ subscriptionForm.value.storage }}
        </p>

        <p>Total price : {{ selectedSubscription.totalPrice }} USD</p>
        <p>Price per GB: {{ selectedSubscription.pricePerGb }} USD</p>

        <form [formGroup]="validationForm" class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required
              [ngClass]="{
                'is-invalid': submittedStipe2 && f2['email'].errors
              }"
            />
            <mat-error
              *ngIf="submittedStipe2 && f2['email']['errors']"
              class="invalid-feedback"
            >
              <span *ngIf="f2['email']['errors']['required']">
                Please enter a valid Email</span
              >
              <span *ngIf="f2['email']['errors']['email']">Email invalide</span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox color="primary" formControlName="agreement" required
            >Agreement to the terms and conditions</mat-checkbox
          >
          <mat-error
            *ngIf="submittedStipe2 && f2['agreement']['errors']"
            class="invalid-feedback"
          >
            <span *ngIf="f2['agreement']['errors']['required']">
              Please Agreement to the terms and conditions.</span
            >
          </mat-error>

          <div class="btn-footer">
            <button mat-button matStepperPrevious>Previous</button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="nextStipper(2)"
            >
              Confirm
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <!-- end start step 2 -->
  </mat-stepper>
</div>
