<div class="mat-container">
  <mat-stepper orientation="vertical" #stepper [linear]="false">
    <!-- start step 0 -->
    <mat-step label="Sélectionnez les paramètres d'abonnement">
      <form class="example-form" [formGroup]="subscriptionForm">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Durée (en mois)</mat-label>
          <mat-select formControlName="duration">
            <mat-option *ngFor="let duration of durations" [value]="duration">
              {{ duration }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Quantité de gigaoctets dans un cloud</mat-label>
          <mat-select formControlName="storage">
            <mat-option
              *ngFor="let storageOption of storageOptions"
              [value]="storageOption"
            >
              {{ storageOption }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="initialPayment"
            >Paiement initial</mat-checkbox
          >
        </div>
        <div class="btn-footer">
          <button
            (click)="nextStipper(0)"
            class="mat-align-end"
            mat-raised-button
            color="primary"
          >
            Continuer
          </button>
        </div>
      </form>
    </mat-step>
    <!-- end start step 0 -->
    <!-- start start step 1 -->

    <mat-step label="Données de paiement">
      <form [formGroup]="paymentForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Numéro de Carte de Crédit</mat-label>
          <input
            matInput
            formControlName="creditCardNumber"
            [ngClass]="{
              'is-invalid': submitted && f1['creditCardNumber'].errors
            }"
          />
          <mat-error
            *ngIf="submittedStipe1 && f1['creditCardNumber'].errors"
            class="invalid-feedback"
          >
            <span *ngIf="f1['creditCardNumber']['errors']['required']">
              Veuillez remplir ce numéro de Carte de Crédit</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date d'expiration de la carte de crédit</mat-label>
          <input
            matInput
            formControlName="expirationDate"
            [ngClass]="{
              'is-invalid': submittedStipe1 && f1['expirationDate'].errors
            }"
          />
          <mat-error
            *ngIf="submittedStipe1 && f1['expirationDate'].errors"
            class="invalid-feedback"
          >
            <span *ngIf="f1['expirationDate']['errors']['required']">
              Veuillez remplir la date d'expiration de la carte de crédit</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Code de sécurité de la carte de crédit</mat-label>
          <input
            matInput
            formControlName="securityCode"
            [ngClass]="{
              'is-invalid': submittedStipe1 && f1['securityCode'].errors
            }"
          />
          <mat-error
            *ngIf="submittedStipe1 && f1['securityCode'].errors"
            class="invalid-feedback"
          >
            <span *ngIf="f1['securityCode']['errors']['required']">
              Veuillez remplir le code de sécurité de la carte de crédit</span
            >
          </mat-error>
        </mat-form-field>
        <div class="btn-footer">
          <button mat-button matStepperPrevious>Précédent</button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="nextStipper(1)"
          >
            Continuer
          </button>
        </div>
      </form>
    </mat-step>
    <!-- end start step 1 -->
    <!-- start start step 2 -->

    <mat-step label="Validation" [completed]="true">
      <div>
        <p>Récapitulatif de l'abonnement sélectionné :</p>
        <p>Durée : {{ subscriptionForm.value.duration }}</p>
        <p>
          Quantité de gigaoctets dans un cloud :
          {{ subscriptionForm.value.storage }}
        </p>

        <p>Prix total : {{ selectedSubscription.totalPrice }} USD</p>
        <p>Prix par Go : {{ selectedSubscription.pricePerGb }} USD</p>

        <form [formGroup]="validationForm" class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail de l'utilisateur</mat-label>
            <input
              matInput
              formControlName="email"
              required
              [ngClass]="{
                'is-invalid': submittedStipe2 && f2['email'].errors
              }"
            />
            <mat-error
              *ngIf="submittedStipe2 && f2['email']['errors']"
              class="invalid-feedback"
            >
              <span *ngIf="f2['email']['errors']['required']">
                Veuillez remplir ce champ</span
              >
              <span *ngIf="f2['email']['errors']['email']">Email invalide</span>
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="agreement" required
            >Accord sur les termes et conditions</mat-checkbox
          >
          <mat-error
            *ngIf="submittedStipe2 && f2['agreement']['errors']"
            class="invalid-feedback"
          >
            <span *ngIf="f2['agreement']['errors']['required']">
              La case à cocher est obligatoire.</span
            >
          </mat-error>

          <div class="btn-footer">
            <button mat-button matStepperPrevious>Précédent</button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="nextStipper(2)"
            >
              Confirmer
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <!-- end start step 2 -->
  </mat-stepper>
</div>
